.player {
  max-width: 400px;
}

iframe {
  width: 100%;
  min-height: 220px;
}

.controls {
  display: flex;
  gap: 10px;
}

button {
  border: none;
  background-color: #143055;
  flex-grow: 1;
  color: white;
  font-size: 1.2rem;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}